@import '_defaults';


// reuse header portion
// reuse message-submit/comment-post comment portion
// reuse button


// =====================COMMON ELEMENTS================
.capitalized{
    text-transform: uppercase;
}

// ensures images are never larger than parent element
img {
    max-width: 100%;
}

body{
    background: $white-shade;
    height: 100vh;
}

header{
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/blog-image-1.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;   

    h1{
        margin: -50px 0;
    }
}

nav{
    height: 60px;
    background-color: $orangey-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }


// for top navigation bar
.navbar{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;

    li{
        display: inline;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a{
        color: $black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 29px;
        letter-spacing: 1px;
    }

    .on-page{
        color: $white-shade;
    }

    .hidden{
        font-family: 'Lora', serif;
        color: $black;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


button{
    background-color: $accent;
    color: $black;
    padding: 5px 0;
    border: 0;

    // if buttons get weird paste cut this back into sophie journey button
    padding: 10px 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer{
    background: $black;
    text-align: center;
    width: 100%;
    padding: 5px 0;

    p{
        color: $white-shade;
    }
}

// ============COMMENT/EMAIL CONTACT BOX==============

form{            
    display: flex;
    flex-direction: column;

    .name-email{
        display: flex;
        justify-content: space-between;
    }

    input{
        border: 0;
        width: 47%;
        padding: 15px;
        margin-bottom: 20px;
    }

    input:nth-child(2){
        margin-left: 20px;
    }

    textarea, button{
        border: 0;
        resize: none;
        margin-bottom: 20px;
    }

    textarea{
        height: 20vh;
        padding: 15px;
    }

    .name-email{

    }
}




// ======================CONTACT.HTML==========================
.contact-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: url('../assets/contact-image-1.jpg');
    }

    section{
        display: flex;
        justify-content: space-between;
    }

    aside{
        background-color: white;
        padding: 25px;
        color: $orangey-yellow;
        min-height: 230px;
        min-width: 280px;
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-icons {
        justify-content: flex-start;

        li{
            display: inline;
            list-style-type: none;
            margin: 0 20px 0 0;
        }       
    }   

    .email-contact{
        margin-left: 30px;
        flex: 1;
    }
}


// ====================BLOG.HTML============================
.blog-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: url('../assets/blog-image-1.jpg');
    }

    aside > *, 
    article, 
    .comment{
        background: white;
        padding: 25px;
    }

    aside div{
        margin-bottom: 30px;
    }


    h3{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 25px;
    }

    ul{
        list-style-position: inside;

        li{
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            line-height: 32px;
            letter-spacing: 0px;
        }
    }

    article {
        padding: 30px 40px;
        border-bottom: 5px $orangey-yellow solid;
    }

    .other-comments{
        margin: 40px 0;
    }

    .comment{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    .comment:nth-child(2){
        margin-top: 30px;
        border-bottom: 5px $orangey-yellow solid;
    }
    
    p:not(footer p, .comment p){
        margin-top: 15px;
    }

    .add-comment{
        margin-bottom: 60px;
    }
}


// =====================INDEX.HTML=======================
.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: none;
        background-color: $orangey-yellow;
        height: 80vh;

        h1{
            font-size: 150px;
        }
    }

    .sophie-stylized-image{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr;
        column-gap: 1fr;
        margin: 50px 0;
    }

    img[src="assets/home-image-1.jpg"]{
        box-shadow: 20px 20px white;

        // counters the img{max-width: 100%} on line 25-27
        max-width: none;
    }

    // https://stackoverflow.com/a/33887124
    // stop button from filling whole flex container
    button{
        align-self: flex-start;
    }

    .who-is{
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        row-gap: 20px;
        padding: 30px 0;
        justify-items: start;

        h2{
            grid-column-start: 1;
            grid-row-start: 1;
        }

        p{
            grid-column-start: 1;
            grid-row-start: 2;
        }

        button{
            grid-column-start: 1;
            grid-row-start: 3;
        }
    }




    .photo-about-blog-contact-grid{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        column-gap: 50px;
        padding: 80px 0;
    }

    .pabc-container{
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 1fr 3fr;
        column-gap: 25px;

        // method 1 to get circle behind icons
        // https://markheath.net/post/font-awesome-circle-background
        i{
            font-size: 30px;
            grid-column-start: 1;
            background: $orangey-yellow;
            border-radius: 50%;

            // JANK
            width: 50px;
            height: 50px;
            padding-top: 20px;
            padding-left: 20px;
        }

        h3{
            grid-column-start: 2;
        }

        p{
            grid-column-start: 2;
            grid-row-start: 2;
        }
    }


    img[src="assets/home-image-4.jpg"]{
        width: 100%;
    }


    .sophie-journey{

        padding: 100px 0;

        img{
            // width: calc(100%);
            box-shadow: 20px 20px $orangey-yellow;
        }

        .wrapper{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            column-gap: 50px;
        }


        .sophie-journey-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    // ????????????? WORK AS EXPECTED W/ img{width:calc(100%);}
    // ????????????? LEFT RIGHT SIDE NOT BALANCED
    // ????????????? RIGHT SIDE BREAKING OUT OF WRAPPER
    .travel-images{
        padding: 100px 0;
        background-color: white;
        
        .travel-images-container{
            // margin: 100px 0 100px 0;         breaks grid
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 50px;
        }
            
        img{
            width: calc(100%);
        }
    }
}

