@import '_defaults';








// reuse header portion

// reuse message-submit/comment-post comment portion

//reuse header

// reuse button


// =====================COMMON ELEMENTS================
.capitalized{
    text-transform: uppercase;
}

body{
    background: $white-shade;
    height: 100vh;
}

header{
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/blog-image-1.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;   

    h1{
        margin: -50px 0;
    }
}

nav{
    height: 60px;
    background-color: $orangey-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }


// for top navigation bar
.navbar{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;

    li{
        display: inline;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a{
        color: $black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 29px;
        letter-spacing: 1px;
    }

    .on-page{
        color: $white-shade;
    }

    .hidden{
        font-family: 'Lora', serif;
        color: $black;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


button{
    background-color: $accent;
    color: $black;
    padding: 5px 0;
    border: 0;

    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer{
    background: $black;
    text-align: center;
    width: 100%;
    padding: 5px 0;

    p{
        color: $white-shade;
    }
}

// ============COMMENT/EMAIL CONTACT BOX==============

form{            
    display: flex;
    flex-direction: column;

    .name-email{
        display: flex;
        justify-content: space-between;
    }

    input{
        border: 0;
        width: 47%;
        padding: 15px;
        margin-bottom: 20px;
    }

    input:nth-child(2){
        margin-left: 20px;
    }

    textarea, button{
        border: 0;
        resize: none;
        margin-bottom: 20px;
    }

    textarea{
        height: 20vh;
        padding: 15px;
    }

    .name-email{

    }
}




// ======================CONTACT.HTML==========================
.contact-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: url('../assets/contact-image-1.jpg');
    }

    section{
        display: flex;
        justify-content: space-between;
    }

    aside{
        background-color: white;
        padding: 25px;
        color: $orangey-yellow;
        min-height: 230px;
        min-width: 280px;
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-icons {
        justify-content: flex-start;

        li{
            display: inline;
            list-style-type: none;
            margin: 0 20px 0 0;
        }       
    }   

    .email-contact{
        margin-left: 30px;
        flex: 1;
    }
}


// ====================BLOG.HTML============================

.blog-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: url('../assets/blog-image-1.jpg');
    }

    aside > *, 
    article, 
    .comment{
        background: white;
        padding: 25px;
    }

    aside div{
        margin-bottom: 30px;
    }

    h3{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 25px;
    }

    ul{
        list-style-position: inside;

        li{
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            line-height: 32px;
            letter-spacing: 0px;
        }
    }

    article {
        padding: 30px 40px;
        border-bottom: 5px $orangey-yellow solid;
    }

    .other-comments{
        margin: 40px 0;
    }

    .comment{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    .comment:nth-child(2){
        margin-top: 30px;
        border-bottom: 5px $orangey-yellow solid;
    }
    
    p:not(footer p, .comment p){
        margin-top: 15px;
    }

    .add-comment{
        margin-bottom: 60px;
    }
}


// =====================INDEX.HTML=======================

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header{
        background-image: none;
        background-color: $orangey-yellow;
        height: 70vh;

        h1{
            font-size: 150px;
        }
    }

    .sophie-stylized-image{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr;
        column-gap: 1fr;
    }

    img[src="assets/home-image-1.jpg"]{
        box-shadow: 20px 20px white;
    }

}

