h1 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #2c2c2c;
  letter-spacing: 0;
  font-family: "Lora", serif;
  line-height: 92px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #2c2c2c;
  letter-spacing: 1;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #2c2c2c;
  letter-spacing: 1;
}